---
app:
    name: "Office add-ins experimental"
    verbose: true
    syslog_output: false
    office_add_ins: 
        enabled: true
        manifest_path: ../../frontend/dist/manifest.xml
        open: word
    server:
        websocket:
            enabled: true
            use_remote_hub: false
        auto_reload: true
        test: true
        api_uri_base: /api/v1
        asset_root_dir: ../../frontend/dist
        asset_public_path: /assets/
        cert_file: /Users/user/cert.pem
        cert_key: /Users/user/key.pem
        enable_tls: true
        cipher_suites:
            - "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
        enable_cors: true
        address: ":8080"
        enable_cors: true
        enable_cors_with_credentials: true
        read_timeout: 12s
    auth:
        enabled: false
        auth_keys:
        - 1213123
        - 909090
---